{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />
    <title>高科銀行</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
    <link rel="stylesheet" href="{% static 'style/personal.css' %}" />
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    
  </head>
  <body>
    <div class="container">
      <header>
        <a href="{% url 'dashboard_page' %}" style="text-decoration: none;"><div class="logo-container">
          <div class="logo">
            <svg
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M42.4379 44C42.4379 44 36.0744 33.9038 41.1692 24C46.8624 12.9336 42.2078 4 42.2078 4L7.01134 4C7.01134 4 11.6577 12.932 5.96912 23.9969C0.876273 33.9029 7.27094 44 7.27094 44L42.4379 44Z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
          <h2 class="brand-name">NKUST Bank</h2>
        </div></a>

        <div class="nav-container">
          <div class="main-nav">
            <a class="nav-link" href="{% url 'dashboard_page' %}">帳務總覽</a>
            <a class="nav-link" href="{% url 'transfer_page' %}">轉帳</a>
            <a class="nav-link" href="{% url 'invest_page' %}">投資</a>
            <a class="nav-link" href="{% url 'recive_page' %}">明細查詢</a>
            <a class="nav-link" href="{% url 'personal_page' %}">個人資料</a>
            <a href="SignUp.html" class="btn-link">
              <button class="btn btn-secondary btn-md">
                <span class="btn-text">Log Out</span>
              </button>
            </a>
          </div>
        </div>
      </header>

      <div class="main-content">
        <!-- Main Content -->
        <div class="content-container">
          
          <div class="profile-header">
            <div class="avatar"></div>
            <div class="profile-info">
              <div class="name">用戶姓名</div>
              <div class="role">User name</div>
            </div>
          </div>


          <div class="settings-item">
            <div class="settings-content">
              <div class="settings-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24px"
                  height="24px"
                  fill="currentColor"
                  viewBox="0 0 256 256"
                >
                  <path
                    d="M222.37,158.46l-47.11-21.11-.13-.06a16,16,0,0,0-15.17,1.4,8.12,8.12,0,0,0-.75.56L134.87,160c-15.42-7.49-31.34-23.29-38.83-38.51l20.78-24.71c.2-.25.39-.5.57-.77a16,16,0,0,0,1.32-15.06l0-.12L97.54,33.64a16,16,0,0,0-16.62-9.52A56.26,56.26,0,0,0,32,80c0,79.4,64.6,144,144,144a56.26,56.26,0,0,0,55.88-48.92A16,16,0,0,0,222.37,158.46ZM176,208A128.14,128.14,0,0,1,48,80,40.2,40.2,0,0,1,82.87,40a.61.61,0,0,0,0,.12l21,47L83.2,111.86a6.13,6.13,0,0,0-.57.77,16,16,0,0,0-1,15.7c9.06,18.53,27.73,37.06,46.46,46.11a16,16,0,0,0,15.75-1.14,8.44,8.44,0,0,0,.74-.56L168.89,152l47,21.05h0s.08,0,.11,0A40.21,40.21,0,0,1,176,208Z"
                  ></path>
                </svg>
                
              </div>
              <div class="settings-text">
                <p class="settings-title">行動電話</p>
                <p class="settings-description">
                  0987654322
                </p>
              </div>
            </div>
            <div class="settings-arrow">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="currentColor"
                viewBox="0 0 256 256"
              >
                <path
                  d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"
                ></path>
              </svg>
            </div>
          </div>

          <div class="settings-item">
            <div class="settings-content">
              <div class="settings-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24px"
                  height="24px"
                  fill="currentColor"
                  viewBox="0 0 256 256"
                >
                  <path
                    d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48ZM203.43,64,128,133.15,52.57,64ZM216,192H40V74.19l82.59,75.71a8,8,0,0,0,10.82,0L216,74.19V192Z"
                  ></path>
                </svg>
                
              </div>
              <div class="settings-text">
                <p class="settings-title">電子郵件</p>
                <p class="settings-description">
                  A12345678@gmail.com
                </p>
              </div>
            </div>
            <div class="settings-arrow">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="currentColor"
                viewBox="0 0 256 256"
              >
                <path
                  d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"
                ></path>
              </svg>
            </div>
          </div>

          <div class="settings-item">
            <div class="settings-content">
              <div class="settings-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24px"
                  height="24px"
                  fill="currentColor"
                  viewBox="0 0 256 256"
                >
                  <path
                    d="M219.31,108.68l-80-80a16,16,0,0,0-22.62,0l-80,80A15.87,15.87,0,0,0,32,120v96a8,8,0,0,0,8,8h64a8,8,0,0,0,8-8V160h32v56a8,8,0,0,0,8,8h64a8,8,0,0,0,8-8V120A15.87,15.87,0,0,0,219.31,108.68ZM208,208H160V152a8,8,0,0,0-8-8H104a8,8,0,0,0-8,8v56H48V120l80-80,80,80Z"
                  ></path>
                </svg>
                
              </div>
              <div class="settings-text">
                <p class="settings-title">通訊地址</p>
                <p class="settings-description">
                  高雄市楠梓區卓越路2號
                </p>
              </div>
            </div>
            <div class="settings-arrow">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="currentColor"
                viewBox="0 0 256 256"
              >
                <path
                  d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"
                ></path>
              </svg>
            </div>
          </div>

          <!-- <div class="form-group">
            <label class="input-label">
              <p class="label-text">Full name</p>
              <input class="form-input" value="" />
            </label>
          </div>

          <div class="form-group">
            <label class="input-label">
              <p class="label-text">Email</p>
              <input class="form-input" value="" />
            </label>
          </div>

          <div class="form-group">
            <label class="input-label">
              <p class="label-text">Phone number</p>
              <input class="form-input" value="" />
            </label>
          </div>

          <div class="form-group">
            <label class="input-label">
              <p class="label-text">Address</p>
              <input class="form-input" value="" />
            </label>
          </div> -->

          <h3 class="section-title">安全性設定</h3>

          <div class="settings-item">
            <div class="settings-content">
              <div class="settings-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24px"
                  height="24px"
                  fill="currentColor"
                  viewBox="0 0 256 256"
                >
                  <path
                    d="M48,56V200a8,8,0,0,1-16,0V56a8,8,0,0,1,16,0Zm92,54.5L120,117V96a8,8,0,0,0-16,0v21L84,110.5a8,8,0,0,0-5,15.22l20,6.49-12.34,17a8,8,0,1,0,12.94,9.4l12.34-17,12.34,17a8,8,0,1,0,12.94-9.4l-12.34-17,20-6.49A8,8,0,0,0,140,110.5ZM246,115.64A8,8,0,0,0,236,110.5L216,117V96a8,8,0,0,0-16,0v21l-20-6.49a8,8,0,0,0-4.95,15.22l20,6.49-12.34,17a8,8,0,1,0,12.94,9.4l12.34-17,12.34,17a8,8,0,1,0,12.94-9.4l-12.34-17,20-6.49A8,8,0,0,0,246,115.64Z"
                  ></path>
                </svg>
              </div>
              <div class="settings-text">
                <p class="settings-title">修改用戶代號及密碼</p>
                <p class="settings-description">                  
                </p>
              </div>
            </div>
            <div class="settings-arrow">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="currentColor"
                viewBox="0 0 256 256"
              >
                <path
                  d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"
                ></path>
              </svg>
            </div>
          </div>

          <div class="settings-item">
            <div class="settings-content">
              <div class="settings-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24px"
                  height="24px"
                  fill="currentColor"
                  viewBox="0 0 256 256"
                >
                  <path
                    d="M141.66,133.66l-40,40a8,8,0,0,1-11.32-11.32L116.69,136H24a8,8,0,0,1,0-16h92.69L90.34,93.66a8,8,0,0,1,11.32-11.32l40,40A8,8,0,0,1,141.66,133.66ZM200,32H136a8,8,0,0,0,0,16h56V208H136a8,8,0,0,0,0,16h64a8,8,0,0,0,8-8V40A8,8,0,0,0,200,32Z"
                  ></path>
                </svg>
              </div>
              <div class="settings-text">
                <p class="settings-title">近期登入紀錄</p>
                <p class="settings-description">                  
                </p>
              </div>
            </div>
            <div class="settings-arrow">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="currentColor"
                viewBox="0 0 256 256"
              >
                <path
                  d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"
                ></path>
              </svg>
            </div>
          </div>


          <h3 class="section-title">通知設定</h3>
          <div class="settings-item">
            <div class="settings-content">
              <div class="settings-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24px"
                  height="24px"
                  fill="currentColor"
                  viewBox="0 0 256 256"
                >
                  <path
                    d="M116,128a12,12,0,1,1,12,12A12,12,0,0,1,116,128ZM84,140a12,12,0,1,0-12-12A12,12,0,0,0,84,140Zm88,0a12,12,0,1,0-12-12A12,12,0,0,0,172,140Zm60-76V192a16,16,0,0,1-16,16H83l-32.6,28.16-.09.07A15.89,15.89,0,0,1,40,240a16.13,16.13,0,0,1-6.8-1.52A15.85,15.85,0,0,1,24,224V64A16,16,0,0,1,40,48H216A16,16,0,0,1,232,64ZM40,224h0ZM216,64H40V224l34.77-30A8,8,0,0,1,80,192H216Z"
                  ></path>
                </svg>
              </div>
              <div class="settings-text">
                <p class="settings-title">開啟／關閉簡訊 OTP</p>
                <p class="settings-description">
                  
                </p>
              </div>
            </div>
            <div class="settings-arrow">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="currentColor"
                viewBox="0 0 256 256"
              >
                <path
                  d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"
                ></path>
              </svg>
            </div>
          </div>


          
        </div>
      </div>
    </div>
  </body>
</html>
