{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>高科銀行</title>
  <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

  <!-- External CSS -->
  <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  <link rel="stylesheet" href="{% static 'style/recive.css' %}" />
</head>

<body>
  <div
    class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden design-root">
    <div class="layout-container">
      <header>
        <div class="logo-container">
          <div class="logo">
            <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M42.4379 44C42.4379 44 36.0744 33.9038 41.1692 24C46.8624 12.9336 42.2078 4 42.2078 4L7.01134 4C7.01134 4 11.6577 12.932 5.96912 23.9969C0.876273 33.9029 7.27094 44 7.27094 44L42.4379 44Z"
                fill="currentColor"></path>
            </svg>
          </div>
          <h2 class="brand-name">NKUST Bank</h2>
        </div>

        <div class="nav-container">
          <div class="main-nav">
            <a class="nav-link" href="{% url 'dashboard_page' %}">帳務總覽</a>
            <a class="nav-link" href="{% url 'transfer_page' %}">轉帳</a>
            <a class="nav-link" href="{% url 'invest_page' %}">投資</a>
            <a class="nav-link" href="{% url 'recive_page' %}">明細查詢</a>
            <a class="nav-link" href="#">個人資料</a>
            <a href="SignUp.html" class="btn-link">
              <button class="btn btn-secondary btn-md">
                <span class="btn-text">Log Out</span>
              </button>
            </a>
          </div>
        </div>
      </header>

      <div class="main-content">
        <div class="layout-content-container">
          <div class="content-header">
            <div class="header-info">
              <p class="page-title">帳戶明細</p>
              <p class="page-subtitle">顯示近三個月交易明細</p>
            </div>
          </div>

          <a href="{% url 'analysis_page' %}"
            class="ml-auto rounded bg-slate-200 px-3 py-1 text-sm hover:bg-slate-300 transition">
            消費分析
          </a>

          <div class="tabs-container">
            <div class="tabs">
              <!-- <a class="tab-link active" href="#">
                  <p class="tab-text">All</p>
                </a>
                <a class="tab-link" href="#">
                  <p class="tab-text">Deposits</p>
                </a> -->
              <a data-filter="all" class="tab-link active">
                <p class="tab-text">全部</p>
              </a>
              <a data-filter="in" class="tab-link">
                <p class="tab-text">收入</p>
              </a>
              <a data-filter="out" class="tab-link">
                <p class="tab-text">支出</p>
              </a>
            </div>
          </div>
          <div id="txList" class="space-y-6"></div>

          <template id="txItemTpl">
            <div class="transaction-item">
              <div class="transaction-details">
                <div class="transaction-icon"></div>
                <div class="transaction-info">
                  <p class="transaction-title"></p>
                  <p class="transaction-time"></p>
                </div>
              </div>
              <div class="transaction-amount">
                <p class="amount-text"></p>
              </div>
            </div>
          </template>

          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="{% static 'js/recive.js' %}" defer></script>
        </div>
      </div>
    </div>
  </div>
</body>

</html>